@{
    ViewData["Title"] = "About Digital Library";
}
<h3>@ViewData["Title"]</h3>

<p style="text-align: justify">
    The pandemic has made a major impact in a student's life. Since the pandemic encourages people to stay inside, students who are wanting to physically go to libraries are encouraged to use this Digital Library as an alternative. The Digital Library offers books to everyone online for free, but in order to access these books, the user is required to make an account.

</p>

<h3>About Us</h3>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/lib/img/1.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Dominique C. Barrion</h5>
                        <p class="card-text">Documentation</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/lib/img/2.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Sherly Anecito</h5>
                        <p class="card-text">Lead Designer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/lib/img/3.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Miguel Go</h5>
                        <p class="card-text">Lead Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>